.navbar-brand{
    display: flex;
}
.navbar-brand img{
    width: 40px;
}

.navbar-brand h1{
    font-size: 24px;
    margin-left: 10px;
    align-self: flex-end;
}

.card-body p{
    font-size: 14px;
}